Repository waewoo/prompt-unifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-json, check-added-large-files, mdformat, ruff-check, ruff-format, mypy, validate-gitlab-ci, bandit, detect-secrets

Path conditions:
  trailing-whitespace: any file but: (^\.|/\.|agent-os/)
  end-of-file-fixer: any file but: (^\.|/\.|agent-os/)
  check-json: any of: \.json$
  check-added-large-files: any file but: (^\.|/\.|agent-os/)
  mdformat: any of: \.(md|markdown|mdown)$, but not: (^\.|/\.|agent-os/|CHANGELOG\.md|docs/reference/cli-commands\.md)
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^src/ and \.py$
  validate-gitlab-ci: any of: \.gitlab-ci\.yml$
  bandit: any of: \.py$
  detect-secrets: any file but: (?x)^(
tests/fixtures/.*|
\.secrets\.baseline|
poetry\.lock
)$


fix: Correct clean option with tag enabled
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/constants.py
  src/prompt_unifier/handlers/base_handler.py
  src/prompt_unifier/handlers/continue_handler.py
  src/prompt_unifier/handlers/kilo_code_handler.py
  tests/cli/test_deploy_clean_with_tags.py
  tests/cli/test_deploy_dry_run.py
  tests/handlers/test_base_handler_edge_cases.py
  tests/handlers/test_continue_handler.py
  tests/handlers/test_continue_handler_cleanup.py
  tests/handlers/test_continue_handler_relative_paths.py
  tests/handlers/test_continue_handler_subdirectory_rollback.py
  tests/handlers/test_kilo_code_handler.py
  tests/integration/test_recursive_deploy_e2e.py
  tests/test_deploy_integration.py
  tests/utils/test_windows_compatibility.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

bump: version 2.3.1 → 2.3.2
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

ci: enable pages deployment on release tags
  .gitlab-ci.yml
Due: validate-gitlab-ci, detect-secrets

docs(agents): consolidate agent instructions into AGENTS.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, mdformat, detect-secrets

bump: version 2.3.2 → 2.4.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

docs: restructure README and update usage docs
  README.md
  docs/getting-started.md
  docs/usage/advanced.md
  docs/usage/functional-testing.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, mdformat, detect-secrets

feat(cli): optimize functional test execution with connection pre-validation
  .prompt-unifier/config.yaml
  src/prompt_unifier/cli/commands.py
  tests/cli/test_functional_validation.py
  tests/cli/test_helpers.py
  tests/cli/test_init_recap.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

feat(cli): enhance functional testing with multiple targets and provider options
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
  TEST.md
  docs/usage/functional-testing.md
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/cli/main.py
  tests/cli/test_ai_integration_cli.py
  tests/cli/test_test_command.py
  tests/cli/test_test_command_args.py
  tests/cli/test_test_command_extended.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, mdformat, ruff-check, ruff-format, mypy, validate-gitlab-ci, bandit, detect-secrets

bump: version 2.4.0 → 2.5.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

ci: add release notes generation and inclusion in GitLab releases
  .gitlab-ci.yml
Due: validate-gitlab-ci, detect-secrets

feat(ci): integrate MegaLinter for comprehensive quality checks
  .gitignore
  .gitlab-ci.yml
  .linters/.gitleaks.toml
  .linters/.markdownlint.json
  .linters/.markdownlintignore
  .linters/.trivyignore
  .linters/.yamllint.yml
  .mega-linter.yml
  .pre-commit-config.yaml
  .prompt-unifier/config.yaml
  AGENTS.md
  DEVELOPMENT.md
  agent-os/product/roadmap.md
  agent-os/specs/2026-01-31-ci-cd-megalinter-integration/spec.md
  agent-os/specs/2026-01-31-ci-cd-megalinter-integration/tasks.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/prompt_unifier/ai/__init__.py
  src/prompt_unifier/ai/executor.py
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/core/functional_validator.py
  src/prompt_unifier/core/scaff_validator.py
  src/prompt_unifier/handlers/__init__.py
  src/prompt_unifier/models/__init__.py
  src/prompt_unifier/models/rule.py
  src/prompt_unifier/output/__init__.py
  src/prompt_unifier/output/rich_formatter.py
  tests/cli/test_deploy_clean_with_tags.py
  tests/handlers/test_protocol.py
  tests/handlers/test_tool_handler_protocol_and_registry.py
  tests/integration/test_logging_e2e.py
  tests/test_version.py
Due: trailing-whitespace, end-of-file-fixer, check-json, check-added-large-files, mdformat, ruff-check, ruff-format, mypy, validate-gitlab-ci, bandit, detect-secrets

feat(review): integrate pr-agent for automated AI code reviews
  .env.example
  .gitignore
  .gitlab-ci.yml
  .pr_agent.toml
  AGENTS.md
  DEVELOPMENT.md
  Dockerfile.ci
  Makefile
  README.md
  agent-os/product/roadmap.md
  agent-os/product/tech-stack.md
  agent-os/specs/2026-01-31-automated-code-review/spec.md
  agent-os/specs/2026-01-31-automated-code-review/tasks.md
  agent-os/specs/2026-01-31-automated-code-review/verifications/final-verification.md
  agent-os/standards/global/tech-stack.md
  docs/getting-started.md
  docs/index.md
  poetry.lock
  pyproject.toml
  src/prompt_unifier/ai/__init__.py
  src/prompt_unifier/ai/executor.py
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/core/scaff_validator.py
  src/prompt_unifier/handlers/__init__.py
  src/prompt_unifier/models/__init__.py
  src/prompt_unifier/models/rule.py
  src/prompt_unifier/output/__init__.py
  src/prompt_unifier/output/rich_formatter.py
  tests/cli/test_deploy_clean_with_tags.py
  tests/handlers/test_protocol.py
  tests/integration/test_logging_e2e.py
  tests/test_version.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, mdformat, ruff-check, ruff-format, mypy, validate-gitlab-ci, bandit, detect-secrets

ci: Update sonarqube profile
  sonar-project.properties
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, detect-secrets

chore(git): add node_modules to .gitignore
  .gitignore
Due: detect-secrets

fix(quality): fix SonarCloud quality gate issues
  .secrets.baseline
  src/prompt_unifier/git/service.py
  tests/cli/test_test_command_args.py
  tests/core/test_scaff_validator.py
  tests/core/test_yaml_parser.py
  tests/git/test_service.py
  tests/handlers/test_base_handler_edge_cases.py
  tests/integration/test_configurable_base_paths.py
  tests/integration/test_logging_e2e.py
  tests/models/test_scaff.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

feat(skills): add skills support for KiloCode handler
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/constants.py
  src/prompt_unifier/core/batch_validator.py
  src/prompt_unifier/core/content_parser.py
  src/prompt_unifier/handlers/base_handler.py
  src/prompt_unifier/handlers/continue_handler.py
  src/prompt_unifier/handlers/kilo_code_handler.py
  src/prompt_unifier/models/__init__.py
  src/prompt_unifier/models/skill.py
  tests/cli/test_commands.py
  tests/cli/test_commands_edge_cases.py
  tests/cli/test_helpers.py
  tests/core/test_content_parser.py
  tests/handlers/test_continue_handler_verification_report.py
  tests/handlers/test_kilo_code_skill_deployment.py
  tests/models/test_skill.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

docs(agent-os): migrate to Agent OS v3
  AGENTS.md
  agent-os/commands/create-tasks/1-get-spec-requirements.md
  agent-os/commands/create-tasks/2-create-tasks-list.md
  agent-os/commands/create-tasks/create-tasks.md
  agent-os/commands/implement-tasks/1-determine-tasks.md
  agent-os/commands/implement-tasks/2-implement-tasks.md
  agent-os/commands/implement-tasks/3-verify-implementation.md
  agent-os/commands/implement-tasks/implement-tasks.md
  agent-os/commands/orchestrate-tasks/orchestrate-tasks.md
  agent-os/commands/plan-product/1-product-concept.md
  agent-os/commands/plan-product/2-create-mission.md
  agent-os/commands/plan-product/3-create-roadmap.md
  agent-os/commands/plan-product/4-create-tech-stack.md
  agent-os/commands/plan-product/plan-product.md
  agent-os/commands/shape-spec/1-initialize-spec.md
  agent-os/commands/shape-spec/2-shape-spec.md
  agent-os/commands/shape-spec/shape-spec.md
  agent-os/commands/write-spec/write-spec.md
  agent-os/specs/2026-02-22-0000-kilo-code-skills-support/plan.md
  agent-os/specs/2026-02-22-0000-kilo-code-skills-support/references.md
  agent-os/specs/2026-02-22-0000-kilo-code-skills-support/shape.md
  agent-os/specs/2026-02-22-0000-kilo-code-skills-support/standards.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, mdformat, detect-secrets

chore: update config and tooling
  .gemini/settings.json
  .prompt-unifier/config.yaml
  Makefile
  package.json
  sonar-project.properties
Due: trailing-whitespace, end-of-file-fixer, check-json, check-added-large-files, detect-secrets

docs: document skills feature in MkDocs
  docs/usage/basic.md
  docs/usage/creating-prompts.md
  docs/usage/tools/index.md
  docs/usage/tools/kilo-code.md
  mkdocs.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, mdformat, detect-secrets

feat(validation): add skill content validation
  .prompt-unifier/config.yaml
  agent-os/product/roadmap.md
  agent-os/specs/2026-02-22-0100-skill-content-validation/plan.md
  agent-os/specs/2026-02-22-0100-skill-content-validation/references.md
  agent-os/specs/2026-02-22-0100-skill-content-validation/shape.md
  agent-os/specs/2026-02-22-0100-skill-content-validation/standards.md
  docs/usage/tools/kilo-code.md
  src/prompt_unifier/core/batch_validator.py
  src/prompt_unifier/core/skill_validator.py
  src/prompt_unifier/models/validation.py
  tests/core/test_skill_validator.py
  tests/models/test_validation.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, mdformat, ruff-check, ruff-format, mypy, bandit, detect-secrets

bump: version 2.5.0 → 2.6.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, ruff-check, ruff-format, mypy, bandit, detect-secrets

feat: Introduce new automation scripts for PR agent and SonarQube, alongside Makefile enhancements for CI and local development.
  Makefile
  scripts/run_pr_agent.sh
  scripts/run_sonar.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, detect-secrets

feat: Security template Terraform (Dynamic Lookup)
  .gitlab/merge_request_templates/Security.md
Due: detect-secrets

feat: MR templates Terraform
  .gitlab/merge_request_templates/Default.md
Due: detect-secrets

feat: Security template Terraform
  .gitlab/merge_request_templates/Security.md
Due: detect-secrets

[DELETE]: feat: Security template Terraform
  .gitlab/merge_request_templates/Security.md
Due: detect-secrets

[DELETE]: feat: MR templates Terraform
  .gitlab/merge_request_templates/Default.md
Due: detect-secrets
