Repository waewoo/prompt-unifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, validate-gitlab-ci

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
#
# This configuration runs quality checks before each commit:
# - Ruff linting and formatting
# - mypy type checking
#
# Note: pytest is NOT included in pre-commit hooks for performance reasons.
# Tests are run in CI/CD pipeline instead.
#
# Install hooks: poetry run pre-commit install
# Run manually: poetry run pre-commit run --all-files

fail_fast: true

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      # Ruff linter
      - id: ruff
        args: [--fix]
      # Ruff formatter
      - id: ruff-format

  # mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.5.0
          - types-pyyaml
          - rich>=13.0.0
          - typer>=0.9.0
          - gitpython>=3.1.40
        args: [--strict]
        files: ^src/

  # Secrets detection - Prevent committing secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
              tests/fixtures/.*|
              \.secrets\.baseline|
              poetry\.lock
          )$

  # Bandit - Security linting for Python (local hook using Poetry environment)
  - repo: local
    hooks:
      - id: bandit
        name: Bandit security linter
        entry: poetry run bandit
        language: system
        types: [python]
        args: ['-c', 'pyproject.toml', '-r', 'src/']
        pass_filenames: false
      - id: validate-gitlab-ci
        name: Validate GitLab CI config
        entry: gitlab-ci-local --preview > /dev/null
        language: system
        files: \.gitlab-ci\.yml$
        pass_filenames: false

refactor: Reduce cognitive complexity and align Ruff with SonarQube
  .secrets.baseline
  pyproject.toml
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/cli/main.py
  src/prompt_unifier/constants.py
  src/prompt_unifier/core/content_parser.py
  src/prompt_unifier/core/validator.py
  src/prompt_unifier/git/service.py
  src/prompt_unifier/handlers/continue_handler.py
  src/prompt_unifier/output/json_formatter.py
  src/prompt_unifier/output/rich_formatter.py
  src/prompt_unifier/utils/formatting.py
  src/prompt_unifier/utils/path_helpers.py
  tests/cli/test_commands_edge_cases.py
  tests/cli/test_deploy_base_path.py
  tests/cli/test_recursive_deploy.py
  tests/handlers/test_protocol.py
Due: bandit

bump: version 1.1.0 → 1.2.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

refactor: Fix SonarQube issues and implement unused parameters
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/cli/main.py
  src/prompt_unifier/git/service.py
  src/prompt_unifier/handlers/continue_handler.py
  src/prompt_unifier/models/git_config.py
  src/prompt_unifier/output/json_formatter.py
  src/prompt_unifier/output/rich_formatter.py
  tests/cli/test_deploy_base_path.py
Due: bandit

fix(ci): Add rules to sonar-scan job to skip on tags
  .gitlab-ci.yml
Due: validate-gitlab-ci

bump: version 1.2.0 → 1.2.1
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

refactor: Reduce cognitive complexity in SonarQube reported functions
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/core/content_parser.py
  src/prompt_unifier/handlers/continue_handler.py
Due: bandit

feat(handlers): implement Kilo Code tool handler for pure Markdown deployment
  .gitlab-ci.yml
  DEVELOPMENT.md
  README.md
  TEST.md
  agent-os/product/roadmap.md
  agent-os/specs/2025-11-24-kilo-code-handler/planning/initialization.md
  agent-os/specs/2025-11-24-kilo-code-handler/planning/requirements.md
  agent-os/specs/2025-11-24-kilo-code-handler/spec.md
  agent-os/specs/2025-11-24-kilo-code-handler/tasks.md
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/constants.py
  src/prompt_unifier/handlers/__init__.py
  src/prompt_unifier/handlers/base_handler.py
  src/prompt_unifier/handlers/continue_handler.py
  src/prompt_unifier/handlers/handler_utils.py
  src/prompt_unifier/handlers/kilo_code_handler.py
  tests/handlers/test_kilo_code_handler.py
Due: bandit, validate-gitlab-ci

bump: version 1.2.1 → 1.3.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

docs: Specify prompt/rules target directories in README
  README.md
Due: none

feat: Add Markdown linter and formatter
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  GEMINI.md
  Makefile
  README.md
  SECURITY.md
  TEST.md
  docs/ci-security.md
  docs/security.md
  tests/fixtures/README.md
  tests/fixtures/invalid_prompts/empty_content.md
  tests/fixtures/invalid_prompts/multiple_separators.md
  tests/fixtures/invalid_prompts/no_separator.md
  tests/fixtures/invalid_prompts/separator_not_alone.md
  tests/fixtures/prompts/code-review.md
  tests/fixtures/rules/api-design.md
  tests/fixtures/rules/python-style.md
  tests/fixtures/valid_prompts/prompts/full_valid.md
  tests/fixtures/valid_prompts/prompts/with_warnings.md
  tests/integration/TEST_SCENARIOS.md
Due: validate-gitlab-ci

fix(cli): correct version reporting in CLI command
  src/prompt_unifier/cli/main.py
Due: bandit

feat(validation): add SCAFF methodology validation to validate command
  .prompt-unifier/config.yaml
  README.md
  TEST.md
  agent-os/product/roadmap.md
  agent-os/specs/2025-11-26-scaff-method-validation/implementation/1-scaff-models-implementation.md
  agent-os/specs/2025-11-26-scaff-method-validation/implementation/2-scaff-validator-implementation.md
  agent-os/specs/2025-11-26-scaff-method-validation/implementation/3-cli-integration-implementation.md
  agent-os/specs/2025-11-26-scaff-method-validation/implementation/4-rich-output-implementation.md
  agent-os/specs/2025-11-26-scaff-method-validation/implementation/5-test-review-implementation.md
  agent-os/specs/2025-11-26-scaff-method-validation/planning/initialization.md
  agent-os/specs/2025-11-26-scaff-method-validation/planning/requirements.md
  agent-os/specs/2025-11-26-scaff-method-validation/spec.md
  agent-os/specs/2025-11-26-scaff-method-validation/tasks.md
  agent-os/specs/2025-11-26-scaff-method-validation/verification/final-verification.md
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/cli/main.py
  src/prompt_unifier/core/batch_validator.py
  src/prompt_unifier/core/scaff_validator.py
  src/prompt_unifier/models/scaff.py
  src/prompt_unifier/models/validation.py
  src/prompt_unifier/output/rich_formatter.py
  src/prompt_unifier/output/rich_table_formatter.py
  tests/cli/test_scaff_integration.py
  tests/core/test_scaff_validator.py
  tests/integration/test_scaff_integration.py
  tests/models/test_scaff.py
  tests/models/test_validation.py
  tests/output/test_rich_scaff_formatting.py
Due: bandit

refactor(security): Deprecate Safety in favor of Pip-audit and industrialize CI
  .gitlab-ci.yml
  .secrets.baseline
  Makefile
  agent-os/specs/2025-11-12-security-secrets-detection/spec.md
  agent-os/specs/2025-11-12-security-secrets-detection/tasks.md
  docs/ci-security.md
  docs/security.md
  pyproject.toml
  tests/integration/test_scaff_integration.py
  tests/models/test_scaff.py
Due: bandit, validate-gitlab-ci

build(ci): Industrialize validation with Makefile, pre-commit and GitLab CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
Due: validate-gitlab-ci

feat: Enhance SCAFF validator for improved actionable score detection
  src/prompt_unifier/core/scaff_validator.py
Due: bandit

bump: version 1.3.0 → 1.4.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

feat(validation): add title extraction and display for validation prompts/rules
  src/prompt_unifier/core/validator.py
  src/prompt_unifier/models/validation.py
  src/prompt_unifier/output/rich_table_formatter.py
Due: bandit

refactor(handlers)!: enhance deployment reporting with status tracking and improved verification display
  .continue/prompts/backend/backend-test.md
  .continue/prompts/main-prompt.md
  .continue/rules/main-rule.md
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/handlers/base_handler.py
  src/prompt_unifier/handlers/continue_handler.py
  src/prompt_unifier/handlers/kilo_code_handler.py
  tests/cli/test_deploy_dry_run.py
  tests/handlers/test_continue_handler_verification_report.py
  tests/handlers/test_kilo_code_handler_verification_report.py
  tests/test_deploy_integration.py
Due: bandit

refactor(handlers): enhance cleanup to return detailed verification results
  src/prompt_unifier/cli/helpers.py
  src/prompt_unifier/constants.py
  src/prompt_unifier/handlers/base_handler.py
  src/prompt_unifier/handlers/continue_handler.py
  src/prompt_unifier/handlers/kilo_code_handler.py
  src/prompt_unifier/handlers/protocol.py
  tests/handlers/test_continue_handler.py
  tests/handlers/test_kilo_code_handler.py
Due: bandit

bump: version 1.4.0 → 2.0.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

bump: version 2.0.0 → 2.1.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

ci: streamline release pipeline and update project metadata
  .gitlab-ci.yml
  pyproject.toml
Due: validate-gitlab-ci

docs: replace markdown button syntax with html anchors in index
  docs/index.md
Due: none

fix(tests): correct linting errors in unit tests
  .secrets.baseline
  pyproject.toml
  tests/config/test_config_manager_tool_handlers.py
  tests/core/test_encoding.py
  tests/git/test_service.py
  tests/handlers/test_continue_handler.py
Due: bandit

ci: refactor pipeline to use Makefile-driven architecture
  .gitignore
  .gitlab-ci.yml
  CONTRIBUTING.md
  DEVELOPMENT.md
  Dockerfile.ci
  Makefile
  README.md
  docs/contributing.md
  docs/development/index.md
  docs/development/makefile.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  sonar-project.properties
Due: validate-gitlab-ci

feat: consolidate documentation and CI/CD improvements
  .pre-commit-config.yaml
  DEVELOPMENT.md
  docs/development/documentation-guide.md
  docs/reference/cli-commands.md
  docs/usage/tools/continue.md
  docs/usage/tools/index.md
  docs/usage/tools/kilo-code.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/prompt_unifier/cli/main.py
Due: bandit

ci: refactor pipeline stages
  .gitlab-ci.yml
  DEVELOPMENT.md
  Makefile
  README.md
  docs/development/makefile.md
Due: validate-gitlab-ci

bump: version 2.1.0 → 2.2.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

ci: Refactor pipeline stages, introduce DRY_RUN, and update DEVELOPMENT.md.
  .gitlab-ci.yml
  DEVELOPMENT.md
Due: validate-gitlab-ci

bump: version 2.2.0 → 2.2.1
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

feat: Add windows support
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  README.md
  TEST.md
  poetry.lock
  pyproject.toml
  src/prompt_unifier/cli/commands.py
  src/prompt_unifier/git/service.py
  src/prompt_unifier/handlers/base_handler.py
  tests/cli/test_global_verbose_flag.py
  tests/cli/test_list_command.py
  tests/core/test_content_parser.py
  tests/core/test_encoding.py
  tests/handlers/test_continue_handler.py
  tests/handlers/test_kilo_code_handler.py
  tests/integration/test_logging_e2e.py
  tests/integration/test_recursive_deploy_e2e.py
  tests/models/test_validation.py
  tests/output/test_rich_formatter.py
  tests/utils/test_logging_config.py
  tests/utils/test_path_helpers.py
Due: bandit, validate-gitlab-ci

docs(skills): enhance skill descriptions with detailed usage guidelines
  .claude/skills/backend-api/SKILL.md
  .claude/skills/backend-docstrings/SKILL.md
  .claude/skills/backend-migrations/SKILL.md
  .claude/skills/backend-models/SKILL.md
  .claude/skills/backend-project-structure/SKILL.md
  .claude/skills/backend-python-packages/SKILL.md
  .claude/skills/backend-queries/SKILL.md
  .claude/skills/backend-style/SKILL.md
  .claude/skills/frontend-README/SKILL.md
  .claude/skills/frontend-accessibility/SKILL.md
  .claude/skills/frontend-components/SKILL.md
  .claude/skills/frontend-css/SKILL.md
  .claude/skills/frontend-responsive/SKILL.md
  .claude/skills/global-build-system/SKILL.md
  .claude/skills/global-ci-pipeline/SKILL.md
  .claude/skills/global-coding-style/SKILL.md
  .claude/skills/global-commenting/SKILL.md
  .claude/skills/global-conventions/SKILL.md
  .claude/skills/global-dependency-management/SKILL.md
  .claude/skills/global-error-handling/SKILL.md
  .claude/skills/global-tech-stack/SKILL.md
  .claude/skills/global-validation/SKILL.md
  .claude/skills/testing-best-practices/SKILL.md
  .claude/skills/testing-coverage/SKILL.md
  .claude/skills/testing-makefile-testing/SKILL.md
  .claude/skills/testing-pytest/SKILL.md
  .claude/skills/testing-test-writing/SKILL.md
Due: none

bump: version 2.2.0 → 2.3.0
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

fix: Reduce Git authentication prompts during sync
  poetry.lock
  src/prompt_unifier/git/service.py
  tests/git/test_multi_repo_operations.py
  tests/integration/test_multi_repo_e2e.py
Due: bandit

bump: version 2.3.0 → 2.3.1
  CHANGELOG.md
  pyproject.toml
  src/prompt_unifier/__init__.py
Due: bandit

docs(config): update configuration documentation and add README section
  README.md
  docs/configuration.md
Due: none
